{% load static %}
<!DOCTYPE html>
   <title>{% block title %}Site de clubs{% endblock %}</title>
</head>
<link rel="stylesheet" href="{% static 'style.css' %}">
<body>

<header>Supaero Clubs Society</header>

<nav>
       {% block nav %}
       <ul>
            <li><a href="{% url 'Liste des communautes' %}">Communautés</a></li>
            <li><a href="{% url 'Affichage de tous les posts' %}">News Feed</a></li>
            <li><a href="{% url 'Nouveau post' %}">Nouveau post</a></li>
            <li><a href="{% url 'logout' %}">Déconnexion</a></li>

</ul>
       {% endblock %}
   </nav>

   <section id="content">
       {% block content %}{% endblock %}
   </section>

<br>
<footer>
    {% block footer %}
    <h2>&copy; ISAE-Supaero</h2>
    {% endblock %}</footer>
</body>
</html>