<!-- Template permettant d'afficher les posts d'une communauté -->

{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affichage des posts d'une communaute</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

{% block title %}Posts d'une communauté{% endblock %}
{% block content %}

<h1>Posts de {{communaute.nom}}</h1>

{% for post in posts %}

<div class="row">
    <div class="column">
        <a href="{% url 'Visualisation post' post.id %}" class="button3">
            {{post.titre}}
        </a>

        {% if post.evenementiel %}
        <p>Date de l'évènement : {{post.date_evenement}}.</p>
        {% endif %}
    </div>

    <div class="column">
        <p> par {{post.auteur}}, le {{post.date_creation}}</p>
    </div>

    <div class="column">
        <!-- Affichage d'un cercle de couleur selon la priorité du post. Ne fonctionne qu'avec
         des priorités ayant des labels correspondant à des noms de couleur en anglais
         (white,yellow,orange,tomato,red dans ma base de données).-->
        <div id="cercle" style="background-color: {{post.priorite}}"></div>
    </div>
</div>

{% empty %}
<p>Pas de posts.</p>

{% endfor %}

{% endblock %}

</body>
</html>