{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Liste des communautés</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

{% block title %}Liste des communautés{% endblock %}
{% block content %}

<h1>Communautés</h1>

{% for communaute in communautes %}

<div class="row">
  <div class="column">
    <h3><a href="{% url 'Liste des posts' communaute.id %}">
        {{communaute.nom}}</a></h3>
  </div>

    <div class="column">
    {% if communaute.abonnement %}
    <a href="{% url 'Modification abonnement' communaute.id 0%}">
        <button>Se désabonner</button>
    </a>

    {% else %}

    <a href="{% url 'Modification abonnement' communaute.id 1%}">
        <button>S'abonner</button>
    </a>
    {% endif %}
    </div>
</div>

{% empty %}
<p>Pas de communautés.</p>

{% endfor %}

{% endblock %}

</body>
</html>