{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affichage des posts d'une communaute</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

{% block title %}Posts d'une communauté{% endblock %}
{% block content %}

<h1>Posts de {{communaute.nom}}</h1>

{% for post in posts %}

    <a href="{% url 'Visualisation post' post.id %}">
      {{post.titre}}
      </a>
    <br>

{% empty %}
<p>Pas de posts.</p>

{% endfor %}

{% endblock %}

</body>
</html>