<!-- Template permettant d'afficher une liste des communautés et
la possibilité de s'abonner/se désabonner pour l'utilisateur-->

{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Liste des communautés</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

{% block title %}Liste des communautés{% endblock %}
{% block content %}

<h1>Communautés</h1>

<div>
    {% for communaute in communautes %}


    <h3><a href="{% url 'Liste des posts' communaute.id %}" class="button4">
        {{communaute.nom}}</a></h3>

    <p>{{communaute.nb_posts}} post(s)</p>

    {% if communaute.abonnement %}
    <p>Vous êtes abonné à cette communauté.</p>
    <a href="{% url 'Modification abonnement' communaute.id 0%}" class="button2" style="position:center">
        Se désabonner</a>

    {% else %}
    <p>Vous n'êtes pas abonné à cette communauté.</p>
    <a href="{% url 'Modification abonnement' communaute.id 1%}" class="button2">
        S'abonner</a>
    {% endif %}


    {% empty %}
    <p>Pas de communautés.</p>

    {% endfor %}
</div>

{% endblock %}

</body>
</html>