<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affichage des posts d'une communaute</title>
</head>
<body>

<h1>Posts de {{communaute.nom}}</h1>

{% for post in posts %}

    <a href="{% url 'Visualisation post' post.id %}">
      {{post.titre}}
      </a>

{% empty %}
<p>Pas de posts.</p>

{% endfor %}

<a href="{% url 'Nouveau post' %}">
    <button>Créer un nouveau post</button>
</a>

<br><br>
<a href="{% url 'Liste des communautes' %}">
    <button>Retour à la liste des communautés</button>
</a>

<a href="{% url 'Affichage de tous les posts' %}">
    <button>Retour à la liste de tous les posts</button>
</a>

</body>
</html>