{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Liste des communautés</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

{% block title %}Liste des communautés{% endblock %}
{% block content %}

<h1>Voici la liste des communautés !</h1>

{% for communaute in communautes %}

    <h3><a href="{% url 'Liste des posts' communaute.id %}">
        {{communaute.nom}}</a></h3>

    {% if communaute.abonnement %}
        Vous êtes abonné à cette communauté
    <a href="{% url 'Modification abonnement' communaute.id 0%}">
        <button>Se désabonner</button>
    </a>

    {% else %}
        Vous n'êtes pas abonné à cette communauté
    <a href="{% url 'Modification abonnement' communaute.id 1%}">
        <button>S'abonner</button>
    </a>
    {% endif %}

{% empty %}
<p>Pas de communautés.</p>

{% endfor %}

<br><br>
<a href="{% url 'Affichage de tous les posts' %}">
    <button>Retour à la liste de tous les posts</button>
</a>

{% endblock %}

</body>
</html>