{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

{% block title %}Nouveau post{% endblock %}
{% block content %}

<h2>Nouveau post :</h2>

<form action="{% url 'Nouveau post' %}" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

<a href="{% url 'Affichage de tous les posts' %}">
    <button>Cancel</button>
</a>

{% endblock %}

</body>
</html>