<!-- Template contenant le formulaire permettant
de créer un nouveau post-->

{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

{% block title %}Nouveau post{% endblock %}
{% block content %}

<h1>Nouveau post</h1>

<form action="{% url 'Nouveau post' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"/>
</form>

{% endblock %}

</body>
</html>