<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affichage du post et de ses commentaires</title>
</head>
<body>

{% extends "base.html" %}
{% block title %}Visualisation d'un post{% endblock %}
{% block content %}

<h1>{{post.titre}}</h1>
<h3>Par {{post.auteur}} pour <a href="{% url 'Liste des posts' communaute.id %}">
    {{post.communaute}}</a>, le {{post.date_creation}}</h3>
<p>{{post.description}}</p>

{% if post.evenementiel %}
        <p>Cet évènement se déroulera le {{post.date_evenement}}.</p>
    {% endif %}

<h3>Commentaires :</h3>

{% for commentaire in commentaires %}

    <h4>Le {{commentaire.date_creation}}, par {{commentaire.auteur}}</h4>
    <p>{{commentaire.contenu}}</p>

{% empty %}
<p>Pas de commentaires.</p>

{% endfor %}

<form action="{% url 'Visualisation post' post.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

<br><br>
<a href="{% url 'Liste des posts' communaute.id %}">
    <button>Retour à la liste des posts de la communauté</button>
</a>
<a href="{% url 'Affichage de tous les posts' %}">
    <button>Retour à la liste de tous les posts</button>
</a>

{% endblock %}

</body>
</html>