{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Affichage du post et de ses commentaires</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

{% block title %}Visualisation d'un post{% endblock %}
{% block content %}

<br>
<br>

<a href="{% url 'Modification post' post.id %}">
    <button>Modifier ce post</button>
</a>
<a href="{% url 'Liste des posts' communaute.id %}">
    <button>Retour à la liste des posts de la communauté</button>
</a>

{% if droitmodif == 0 %}
        <p style="color:red;">Vous n'êtes pas l'auteur de ce post, vous ne pouvez pas le modifier.</p>
    {% endif %}

<h1>{{post.titre}}</h1>
<h3>Par {{post.auteur}} pour <a href="{% url 'Liste des posts' post.communaute.id %}">
    {{post.communaute}}</a>, le {{post.date_creation}}</h3>
<p>{{post.description}}</p>

{% if post.evenementiel %}
        <p>Date de l'évènement : {{post.date_evenement}}.</p>
    {% endif %}

<p>Priorité de ce post : {{post.priorite}} <div id="cercle"></div></p>

<h3>Commentaires :</h3>

<form action="{% url 'Visualisation post' post.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

{% for commentaire in commentaires %}

    <h4>Le {{commentaire.date_creation}}, par {{commentaire.auteur}}</h4>
    <p>{{commentaire.contenu}}</p>

{% empty %}
<p>Pas de commentaires.</p>

{% endfor %}

{% endblock %}

</body>
</html>