{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affichage de tous les posts</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

{% block title %}Liste de tous les posts{% endblock %}
{% block content %}

<h1>News feed</h1>

{% for post in posts %}
<div class="row">
  <div class="column">
    <h3><a href="{% url 'Visualisation post' post.id %}">
        {{post.titre}}</a></h3>
  </div>
    <div class="column">
    <p> by
        <a href="{% url 'Liste des posts' post.communaute.id %}">
        {{post.communaute}}</a>
    </div>
    <div class="column">
    <p>le {{post.date_creation}}
    </p>
    </div>
</div>

    {% if post.evenementiel %}
        <p>Cet évènement se déroulera le {{post.date_evenement}}.</p>

    {% else %}
        <p>Ceci n'est pas un évènement.</p>

    {% endif %}

{% empty %}
<p>Vous n'êtes abonné à aucune communauté.</p>

{% endfor %}

{% endblock %}

</body>
</html>