{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affichage de tous les posts</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

{% block title %}Liste de tous les posts{% endblock %}
{% block content %}

<h1>Voici la liste de tous les posts !</h1>

{% for post in posts %}

    <h3><a href="{% url 'Visualisation post' post.id %}">
        {{post.titre}}</a></h3>
    <p> by
        <a href="{% url 'Liste des posts' post.communaute.id %}">
        {{post.communaute}}</a>, le {{post.date_creation}}
    </p>

    {% if post.evenementiel %}
        <p>Cet évènement se déroulera le {{post.date_evenement}}.</p>

    {% else %}
        <p>Ceci n'est pas un évènement.</p>

    {% endif %}

{% empty %}
<p>Pas de posts.</p>

{% endfor %}

{% endblock %}

</body>
</html>