/* Pour configurer le menu de navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightseagreen;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 19px
}
li a:hover {
    background-color: #111;
}

/* Tentative de configuration du cercle de priorité d'un post */
#cercle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-color: #111111;
    background: red;
}

/* Configurer la disposition d'une page en colonnes */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

/*  */
header {
    color: white;
    background-color: lightgrey;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 30px 16px;
    text-decoration: overline;
    font-size: 60px;
    }

h1 {
    color: white;
    background-color: aquamarine;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 20px 16px;
    font-size: 40px;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;

}

h2 {
    color: white;
    background-color: lightseagreen;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 14px 16px;
    font-size: 19px;
}

h3 {
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}

:root {
    --beige: beige;
    --jaune: yellow;
    --orange: orange;
    --rouge: tomato;
    --ecarlate: red;
}

/* Configurer la présentation des formulaires */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: lightgrey;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
}

input[type=submit]:hover {
  background-color: black;
    color: white;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.button {
  background-color: lightgrey;
  border: none;
  color: black;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: black;
    color: white;
}

.button1 {
    width: 100%;
    background-color: lightgrey;
  border: none;
  color: black;
  padding: 14px 20px;
  text-align: center;
    margin: 8px 0px;
    border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.button1:hover {
  background-color: black;
    color: white;
}

.button2 {
    background-color: lightseagreen;
    border: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    margin: 8px 0px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.button2:hover {
  background-color: black;
    color: white;
}